@import "../global"

.container
  max-width: 1040px
  height: auto
  margin: 0 auto
.hero
  margin-top: 110px
  &--container
    display: flex
  &--heading
    &--title
      font-size: 96px
      padding-bottom: 50px
      font-weight: 400
      width: 80%
      span
        color: $second_text-color
    &--description
      font-size: 32px
      opacity: 0.8
      width: 55%
.devices
  z-index: -1
  position: absolute
  overflow-x: hidden
  width: 100%
  height: 100vh
  top: 200px
  &--iphone
    position: absolute
    right: 350px
  &--ipad
    position: absolute
    top: 140px
    right: -225px
.about
  height: 75vh
  padding-top: 180px
  &--title
    font-size: 72px
    font-weight: 400
    span
      color: $second_text-color
  &--content
    width: 100%
    overflow-x: hidden
    margin-top: 150px
    &__right-info
      display: flex
      justify-content: flex-end
      align-items: center
      &--description
        text-align: right
        font-size: 32px
        font-weight: 400
        opacity: 0.8
        padding-right: 80px
        text-shadow: 0 0 2px #FFFFFF
    &__left-info
      padding-top: 50px
      display: flex
      justify-content: flex-start
      align-items: center
      &--img
        transform: rotate(180deg)
      &--description
        text-align: left
        font-size: 32px
        font-weight: 400
        opacity: 0.8
        padding-left: 80px
        text-shadow: 0 0 2px #FFFFFF
.stage
  &--title
    font-size: 72px
    font-weight: 400
    text-align: end
    span
      color: $second_text-color
  &--content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 100px
    &--first
      display: flex
      flex-direction: column
      align-items: center
      &--circle
        padding: 35px 38px 36px 37px
        background-color: $second_background-color
        border-radius: 50px
        margin-bottom: 40px
        cursor: pointer
        transition: 450ms ease-in
      &--circle:hover
        background-color: #6839EF
      &--description
        display: flex
        flex-direction: column
        align-items: center
        gap: 30px
        width: 50%
        &--heading
          font-size: 32px
        &--info
          font-size: 18px
          opacity: 0.7
          text-align: center
          display: none
.architecture
  padding-top: 100px
  &--title
    font-size: 72px
    font-weight: 400
    span
      color: $second_text-color
  &--content
    margin-top: 100px
.login
  position: relative
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-left: 225px
  &--title
    position: absolute
    font-size: 160px
    font-weight: 400
    opacity: 0.85
    top: 0
    left: -5px
    writing-mode: vertical-lr
    text-orientation: mixed
    color: transparent
    -webkit-text-stroke: 1px $primary_text_color
    letter-spacing: 0.1em
  &--form
    display: flex
    flex-direction: column
    align-items: center
    &--username,
    &--password
      font-size: 18px
      width: 350px
      border: none
      border-radius: 15px
      padding: 15px
      margin-bottom: 20px
      letter-spacing: $letter_spacing
    &--submit
      font-size: 20px
      width: 200px
      border: none
      border-radius: 15px
      padding: 15px
      margin-bottom: 10px
      cursor: pointer
      letter-spacing: $letter_spacing
      background-color: $second_text-color
      color: $primary_text_color
      transition: 200ms ease
    &--submit:hover
      box-shadow: 0 0 10px $second_text-color
    .email-input-wrapper
      display: flex
      align-items: center
    &--check
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 20px
      &--forgot
        color: #6839EF
        letter-spacing: $letter_spacing
        transition: 200ms ease
      &--fotget:hover
        box-shadow: 0 0 10px $second_text-color
    &--sign-up
      font-size: 16px
      letter-spacing: $letter_spacing - 0.1
      a
        color: $second_text-color
        letter-spacing: $letter_spacing - 0.1
        text-decoration-line: underline
    &--heading
      font-size: 24px
      font-weight: 400
      margin-bottom: 20px
    &--back
      font-size: 16px
      a
        color: #6839EF
        text-decoration-line: underline